.message {
  margin-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

.message a {
  color: black;
}

.message a:hover, .message a:active, .message a:focus {
  text-decoration: none;
}

.message + .message {
  border-top: 1px solid #efefef;
}

.message.read {
  background: #efefef;
  border:none;
}

.message.unread {
  font-weight: bold;
}

.message.selected {
  background: #ffffcc;
}

.message:hover {
  margin-left: -3px;
  border-left: 3px solid transparent;
}

.message-body {
  background: #ccc;
  margin-left: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.toolbar .label-select {
  width: auto;
  display: inline;
}

.toolbar select,
.toolbar button,
.toolbar a,
.toolbar .badge {
  margin-right: .5em;
  margin-bottom: .5em;
}

footer.spacer {
  margin-bottom: 20em;
}

.label {
  margin-right: .5em;
}

.fa-close {
  cursor: pointer;
}

.row{
  flex-wrap:nowrap;
  border:none;
}
.row.message.hover a:hover{
  border:none;
}

p.pull-right{
  float:right;
}

span.badge{
  background-color:#ccc;
  padding:5px;
  border:1px solid #000;
}

btn .btn-default{
  background-color:silver;
  border:1px solid #000;
}

input[type="select"]{
width: auto;
}

.row .message .read{
  margin-left: 195px;
  border:none;
}

.row .mesage .unread{
border:none;
}

.row .message a{
  margin-left:8px;
  margin-right:8px;
  border:none;

}
.fa-star{
  content: "\F006";
  margin:0 15px 0 15px;
  z-index:99999;
}

.fa-star-o::before {
  margin:0 15px 0 15px;
}

.isLoading{
  font-weight:400;
  text-decoration:blink;
  color:red;
}

.col-xs-2{

}